<h3>Login Form</h3>

<form class="auth-form" action="/login" method="POST" >
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>
    <div>
        <button type="submit">LogIn</button>
    </div>
</form>