<h3>{{username}}</h3>
<h4>User Session Info</h4>
<span>User Id:</span> {{id}}
<span>Issued at:</span> {{iat}}
<span>Session Expires in:</span> {{exp}}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo molestias tempora sed minima mollitia ad dignissimos temporibus laudantium suscipit excepturi!</p>