<h3>Register Form</h3>

<form class="auth-form" action="/register" method="POST" >
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>
    <div>
        <label for="confirm-password">Password</label>
        <input type="password" name="confirm-password" id="confirm-password">
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>